<div class="container" id="vif-metadata">
    <div class="container-fluid text-center">
        <img src="http://edwards.cse.taylor.edu/static/images/logo.png">
        <h2>Victim Interview Form (VIF)</h2>
        <h4>Version 3.0 Tiny Hands Nepal</h4>
    </div>
    <form name="form">
        <div class="form-group text-left">
            <label>VIF Number</label>
            <span ng-show="form.VifNumber.$error.pattern"> Not a valid VIF Number!</span>
            <span ng-show="infoCtrl.invalidStationCode"> Invalid Station Code: {{infoCtrl.vif.vifNumber.substring(0,3)}}</span>
            <input type="text" ng-model="infoCtrl.vif.vifNumber" class="form-control" placeholder="VIF Number" name="VifNumber" id="VifNumber" ng-pattern="/^[a-zA-Z]{3}\d{3}[a-zA-Z]$/" ng-trim="false" ng-keyup="infoCtrl.validVIF()" required>
            
            <label>Date/Time</label>
            <input type="date" ng-model="infoCtrl.vif.date" class="form-control">
            
            <label>Location</label>
            <input type="text" ng-model="infoCtrl.vif.location" class="form-control" placeholder="Location">

            <label>Interviewer</label>
            <ol id="interviewerList" class="nya-bs-select form-control" ng-model="infoCtrl.vif.interviewer" data-live-search="true" data-size="5" title="Choose an interviewer" disabled="infoCtrl.disable">
                <li nya-bs-option="option in infoCtrl.options">
                    <a>
                        {{ option }}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>

            <!--<label>Interviewer</label>-->
            <!--<input type="text" ng-model="infoCtrl.vif.interviewer" class="form-control" placeholder="Interviewer">-->
            
            <label># of Victims</label>
            <input type="number" min="0" ng-model="infoCtrl.vif.numberOfVictims" class="form-control" placeholder="# of Victims">
            
            <label># of Traffickers</label>
            <input type="number" min="0" ng-model="infoCtrl.vif.numberOfTraffickers" class="form-control" placeholder="# of Traffickers">

            <label>Was statement read to the participant before beginning the interview?</label>
            <br>
            <label><input type="checkbox" ng-model="infoCtrl.vif.statementReadBeforeInterview"> Check the box if this question on form is signed</label>
            <br>
            <label>Permission to use photograph?</label>
            <br>
            <label><input type="checkbox" ng-model="infoCtrl.vif.photoPermission"> Check the box if this question on form is signed</label>
        </div>
    </form>
</div>