<div class="container" id="section2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Travel</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>5.1</strong> Did the broker / companion arrange someone to meet you after crossing the border?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-3" ng-repeat="option in section5Ctrl.sect1Options">
                        <div class="radio">
                            <label><input type="radio" name="sect5-1" ng-model="section5Ctrl.vif.arrangeSomeone[option.value]" ng-value="true">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>5.2</strong> Do you know any details about the place you were headed to in India?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section5Ctrl.noYesList">
                        <div class="radio">
                            <label><input type="radio" name="sect5-2" ng-model="section5Ctrl.vif.knowDetails" ng-value="option.value">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>5.3</strong> Besides the broker and the companion, is there any other
                        person or place you know of involved in the business of sending girls overseas?</h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Someone you were supposed to be meeting in India who may be involved
                                in bringing girls to India</h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6" ng-repeat="option in section5Ctrl.noYesList">
                                <div class="radio">
                                    <label><input type="radio" name="sect5-3-1" ng-model="section5Ctrl.vif.otherPersonOrPlaceQ1" ng-value="option.value">{{ option }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">A contract of a "Husband Trafficker"</h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6" ng-repeat="option in section5Ctrl.noYesList">
                                <div class="radio">
                                    <label><input type="radio" name="sect5-3-2" ng-model="section5Ctrl.vif.otherPersonOrPlaceQ2" ng-value="option.value">{{ option }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Someone the recruiter or companion met along the way who works with them</h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6" ng-repeat="option in section5Ctrl.noYesList">
                                <div class="radio">
                                    <label><input type="radio" name="sect5-3-2" ng-model="section5Ctrl.vif.otherPersonOrPlaceQ3" ng-value="option.value">{{ option }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Someone involved in trafficking that you heard about along the way
                                or before you came to the border</h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6" ng-repeat="option in section5Ctrl.noYesList">
                                <div class="radio">
                                    <label><input type="radio" name="sect5-3-3" ng-model="section5Ctrl.vif.otherPersonOrPlaceQ4" ng-value="option.value">{{ option }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Some place involved in trafficking that you heard about along the
                                way or before you came to the border</h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6" ng-repeat="option in section5Ctrl.noYesList">
                                <div class="radio">
                                    <label><input type="radio" name="sect5-3-4" ng-model="section5Ctrl.vif.otherPersonOrPlaceQ5" ng-value="option.value">{{ option }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>5.4</strong> Have you ever worked in the sex industry?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section5Ctrl.noYesList">
                        <div class="radio">
                            <label><input type="radio" name="sect5-4" ng-model="section5Ctrl.vif.sexIndustry" ng-value="option.value">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>5.5</strong> Was the place you worked involved in sending girls overseas?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section5Ctrl.noYesList">
                        <div class="radio">
                            <label><input type="radio" name="sect5-5" ng-model="section5Ctrl.vif.workSendingGirlsOverseas" ng-value="option.value">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>