#section8 {
  .caseNotes {
    margin-top: 20px;
    width: 100%;
  }
  .dofe-text-field {
    display: inline;
    width: 55%;
  }
  .fir-text-field {
    display: inline;
    width: 60%;
  }
  .no-text-field {
    margin-top: 17px;
  }
  .options {
    height: 5px;
  }
  .other-label {
    margin-top: 8px;
  }
  .panel-radio-only {
    margin-bottom: 15px;
  }
  .powerful-people-label {
    margin-top: 22px;
  }
  .powerful-people {
    margin-top: 15px;
  }
  .textareaContainer {
    display: block;
    font-weight: normal;
  }
}