<div class="container" id="section2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Family Info</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>2.1</strong> What was the main thing which you were going abroad to do?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-3" ng-repeat="option in section2Ctrl.sect1Options">
                        <div class="radio options">
                            <label><input type="radio" name="option" ng-model="section2Ctrl.vif.option[option.value]" ng-value="true" >{{ option.name }}</label>
                        </div>
                    </div>
                    <div class="col-md-12 radio">
                        <label class="other-label"><input type="radio" name="sect2-1">Job - Other</label>&nbsp;
                        <input type="text" class="form-control other pull-right">
                    </div>
                    <div class="col-md-12 radio">
                        <label class="other-label"><input type="radio" name="sect2-1">Other</label>&nbsp;
                        <input type="text" class="form-control sect2-1-other pull-right">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>2.2</strong> Primary motive to go abroad?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4" ng-repeat="option in section2Ctrl.sect2Options">
                        <div class="radio options">
                            <label><input type="radio" name="option" ng-model="section2Ctrl.vif.option[option.value]" ng-value="true" >{{ option.name }}</label>
                        </div>
                    </div>
                    <div class="col-md-12 radio">
                        <label class="other-label"><input type="radio" name="sect2-2">Other</label>&nbsp;
                        <input type="text" class="form-control other pull-right">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>2.3</strong> Where were you going?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="radio">
                                    <label><input type="radio" name="sect2-3-header">India</label>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-4" ng-repeat="location in section2Ctrl.indiaLocations">
                                    <div class="radio options">
                                        <label><input type="radio" name="loaction" ng-model="section2Ctrl.vif.location[location.value]" ng-value="true" >{{ location.name }}</label>
                                    </div>
                                </div>
                                <div class="col-md-12 radio">
                                    <label class="other-label"><input type="radio" name="sect2-3">Other</label>&nbsp;
                                    <input type="text" class="form-control sect2-3-other pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="radio">
                                    <label><input type="radio" name="sect2-3-header">Gulf / Other</label>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-4" ng-repeat="location in section2Ctrl.gulfLocations">
                                    <div class="radio options">
                                        <label><input type="radio" name="location" ng-model="section2Ctrl.vif.location[location.value]" ng-value="true">{{ location.name }}</label>
                                    </div>
                                </div>
                                <div class="col-md-12 radio">
                                    <label class="other-label"><input type="radio" name="sect2-3">Other</label>&nbsp;
                                    <input type="text" class="form-control sect2-3-other pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>