<span ng-switch="fqCtrl.question.type">
  <radio-question ng-model="fqCtrl.question" ng-switch-when="radio"></radio-question>
  <address-question ng-switch-when="address">address</address-question>
  <p ng-switch-when="radiolocation">radiolocation</p>
  <p ng-switch-when="integer">integer</p>
  <p ng-switch-when="float">float</p>
  <p ng-switch-when="timespan">timespan</p>
  <p ng-switch-when="text">text</p>
  <textbox-question ng-model="fqCtrl.question" ng-switch-when="textbox"/>
  <p ng-switch-when="file">file</p>
  <p ng-switch-default>default case</p>
</span>
