<div class="panel panel-info">
  <div class="panel-heading">
    {{fqCtrl.question.label}}
  </div>
  <div class="panel-body">
    <span ng-switch="fqCtrl.question.type">
      <radio-question ng-model="fqCtrl.question" ng-switch-when="radio"></radio-question>
      <address-question ng-switch-when="address">address</address-question>
      <p ng-switch-when="radiolocation">radiolocation</p>
      <number-question ng-model="fqCtrl.question" integer-only="true" ng-switch-when="integer"></number-question>
      <number-question ng-model="fqCtrl.question" integer-only="false" ng-switch-when="float"></number-question>
      <p ng-switch-when="timespan">timespan</p>
      <p ng-switch-when="text">text</p>
      <textbox-question ng-model="fqCtrl.question" ng-switch-when="textbox"/>
      <p ng-switch-when="file">file</p>
      <p ng-switch-default>default case</p>
    </span>
  </div>
</div>
