#irf-page7 {
  .add-person-box {
    padding: 0;
    width: 100%;
  }
  .add-person-body {
    cursor: pointer;
    height: 488px;
  }
  .header {
    margin-bottom: 25px;
  }
  .image {
    height: 125px;
    margin-bottom: 20px;
    width: 125px;
  }
  .input-field {
    height: 35px;
    padding-left: 0;
  }
  .photo {
    cursor: pointer;
    display: inline-block;
    height: 125px;
    width: 125px;
  }
  .photo-text {
    margin-top: 27px;
    vertical-align: middle;
  }
  .plus {
    color: green;
    margin-top: 234px;
  }
  .test {
    border: 1px solid black;
  }
}