<div class="container" id="section4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Recruitment</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.1</strong> 1st time crossing border</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section4Ctrl.yesNoList">
                        <div class="radio">
                            <label><input type="radio" name="sect4-1" ng-model="section4Ctrl.vif.firstTime[option.value]" ng-value="true">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.2</strong> Primary means of travel?</h3>
                </div>
                <div class="panel-body panel-radio-only">
                    <div class="col-md-4" ng-repeat="option in section4Ctrl.travelList">
                        <div class="radio options">
                            <label><input type="radio" name="sect4-2" ng-model="section4Ctrl.vif.travel[option.value]" ng-value="true">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.3</strong> Did you stay somewhere between your village and the border?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section1Ctrl.noYesList">
                        <div class="radio">
                            <label><input type="radio" name="sect4-3" ng-model="section4Ctrl.vif.betweenVillageAndBorder[option.value]" ng-value="true">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.4</strong> How long did you stay?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Days" ng-model="section4Ctrl.vif.stayDays">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Start Date" ng-model="section4Ctrl.vif.stayStartDate">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.5</strong> Was any attempt made to hide your presence there?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-1" ng-repeat="option in section4Ctrl.vif.noYesList">
                        <div class="radio">
                            <label><input type="radio" name="sect4-5" ng-model="section4Ctrl.vif.hidePresence[noYesList.value]" ng-value="true">{{ option }}</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control explain" placeholder="If yes, explain." ng-model="section4Ctrl.vif.hidePresence.explainText">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.6</strong> Were you free to go out?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-1" ng-repeat="option in section4Ctrl.vif.yesNoList">
                        <div class="radio">
                            <label><input type="radio" name="sect4-6" ng-model="section4Ctrl.vif.freeToGoOut[yesNoList.value]" ng-value="true">{{ option }}</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control explain" placeholder="If no, explain." ng-model="section4Ctrl.vif.freeToGoOut.explainText">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.7 - 4.8</strong> Besides those you were intercepted with, how many others were with you who were in a similar situation?</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10 sect4-7-label">
                            Besides those you were intercepted with, how many others were with you who were in a similar situation?
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="section4Ctrl.vif.howManyOthers">
                        </div>
                    </div>
                    <div class="row sect4-7-line">
                        <div class="col-md-10 sect4-7-label">
                            What was the age of the youngest?
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="section4Ctrl.vif.ageOfYoungest">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.9</strong> Was a passport made for you?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect4-9" ng-model="section4Ctrl.vif.passport.noPassport">No passport made</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="sect4-9" ng-model="section4Ctrl.vif.passport.falseName">Passport included a false name</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="sect4-9" ng-model="section4Ctrl.vif.passport.falseInfo">Passport included other false info</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="sect4-9" ng-model="section4Ctrl.vif.passport.fake">Passport was false</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect4-9" ng-model="section4Ctrl.vif.passport.realPassport">Real passport made</label>
                        </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.10</strong> Is your passport or a work permit with a broker?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in ['No', 'Yes']">
                        <div class="radio">
                            <label><input type="radio" name="sect4-10">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.11</strong> Did these take place on the way?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4" ng-repeat="option in section4Ctrl.sect11List">
                        <div class="radio options">
                            <label><input type="radio" name="option" ng-model="section4Ctrl.vif.events[option.value]" ng-value="True">{{ option.name }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.12</strong> Did you travel to the border with a companion who was appointed by the broker to take you across?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-2">
                        <div class="radio">
                            <label><input type="radio" name="sect4-12">Yes</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" name="sect4-12">No <small>(Skip the rest of this section)</small></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect4-12">Broker took me to border <small>(Skip the rest of this section)</small></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.13</strong> Where did the broker meet up with the companion?</h3>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.14</strong> Was the companion with you when intercepted?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in ['Yes', 'No']">
                        <div class="radio">
                            <label><input type="radio" name="sect4-14">{{ option }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.15</strong> If No, were you planning to meet him/her again in India?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-1" ng-repeat="option in ['No', 'Yes']">
                        <div class="radio">
                            <label><input type="radio" name="sect4-15">{{ option }}</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control explain" placeholder="If yes, where?">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>4.16</strong> Did money change hands between broker and the companion?</h3>
                </div>
                <div class="panel-body panel-radio-only">
                    <div class="col-md-6" ng-repeat="option in section4Ctrl.change_hands">
                        <div class="radio options">
                            <label><input type="radio" name="option" ng-model="section4Ctrl.vif.moneyChangeHands[option.value]" ng-value="True">{{ option.name }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>