<div class="container" id="section7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">PBs</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.1</strong> Did your guardian know you were travelling to India?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-1">No</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-1">Yes</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.2</strong> Did your family/guardian pressure you in any way to
                        accept the broker's offer?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-2" ng-click="section7Ctrl.calculateAlarms(0, 0)">No</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-2" ng-click="section7Ctrl.calculateAlarms(0, 1)">Yes
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 1
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.3</strong> If they attempted to send you abroad, do you think
                        they will try to send you overseas again?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-3" ng-click="section7Ctrl.calculateAlarms(1, 0)">No</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-3" ng-click="section7Ctrl.calculateAlarms(1, 3)">Yes
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 3
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.4</strong> Do you feel safe at home with your guardian?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-4" ng-click="section7Ctrl.calculateAlarms(2, 0)">Yes</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-4" ng-click="section7Ctrl.calculateAlarms(2, 4)">No
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 4
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.5</strong> Do you want to go home?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-5" ng-click="section7Ctrl.calculateAlarms(3, 0)">Yes</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-5" ng-click="section7Ctrl.calculateAlarms(3, 4)">No
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 4
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.6</strong> Is victim subject to any of the following by someone
                        in her home?</h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Sexual Abuse</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-1" ng-click="section7Ctrl.calculateAlarms(4, 0)">Never</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-1" ng-click="section7Ctrl.calculateAlarms(4, 4)">Rarely / Minor
                                        <span class="glyphicon glyphicon-exclamation-sign"></span> 4
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-1" ng-click="section7Ctrl.calculateAlarms(4, 10)">Frequent / Severe
                                        <span class="glyphicon glyphicon-exclamation-sign"></span> 10
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Physical Abuse</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-2" ng-click="section7Ctrl.calculateAlarms(5, 0)">Never</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-2" ng-click="section7Ctrl.calculateAlarms(5, 0)">Rarely / Minor</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-2" ng-click="section7Ctrl.calculateAlarms(5, 6)">Frequent / Severe
                                        <span class="glyphicon glyphicon-exclamation-sign"></span> 6
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Emotional Abuse</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-3" ng-click="section7Ctrl.calculateAlarms(6, 0)">Never</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-3" ng-click="section7Ctrl.calculateAlarms(6, 0)">Rarely / Minor</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-3" ng-click="section7Ctrl.calculateAlarms(6, 2)">Frequent / Severe
                                        <span class="glyphicon glyphicon-exclamation-sign"></span> 2
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.7</strong> Does guardian drink alcohol?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" name="sect7-7" ng-click="section7Ctrl.calculateAlarms(7, 0)">Never</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" name="sect7-7" ng-click="section7Ctrl.calculateAlarms(7, 0)">Occasionally</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" name="sect7-7" ng-click="section7Ctrl.calculateAlarms(7, 1)">All the time
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 1
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.8</strong> Does guardian use drugs?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" name="sect7-8" ng-click="section7Ctrl.calculateAlarms(8, 0)">Never</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" name="sect7-8" ng-click="section7Ctrl.calculateAlarms(8, 2)">Occasionally
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 2
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" name="sect7-8" ng-click="section7Ctrl.calculateAlarms(8, 6)">All the time
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 6
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.9</strong> Economic Situation of Family</h3>
                </div>
                <div class="panel-body">
                    <div class="radio">
                        <label><input type="radio" name="sect7-9" ng-click="section7Ctrl.calculateAlarms(9, 7)">Unable to meet basic needs
                            <span class="glyphicon glyphicon-exclamation-sign"></span> 7
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="sect7-9" ng-click="section7Ctrl.calculateAlarms(9, 0)">Comfortably meet basic needs, and can afford to buy
                            some non-essential goods/services</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="sect7-9" ng-click="section7Ctrl.calculateAlarms(9, 0)">Wealthy</label>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.10</strong> Did she express any suicidal thoughts at any point?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-10" ng-click="section7Ctrl.calculateAlarms(10, 0)">No</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            <label><input type="radio" name="sect7-10" ng-click="section7Ctrl.calculateAlarms(10, 7)">Yes
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 7
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success" ng-show="section7Ctrl.shouldSendHome()">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Home Situational Alarms</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 alarms">
                        <p>Calculated Alarms: {{ section7Ctrl.calculatedAlarms }}</p>
                    </div>
                    <div class="col-md-6 alarms">
                        <p>Reported Alarms: <input type="number" class="form-control reported-alarms" ng-model="section7Ctrl.reportedAlarms"></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger" ng-show="!section7Ctrl.shouldSendHome()">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Home Situational Alarms</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 alarms">
                        <p>Calculated Alarms: {{ section7Ctrl.calculatedAlarms }}</p>
                    </div>
                    <div class="col-md-6 alarms">
                        <p>Reported Alarms: <input type="number" class="form-control reported-alarms" ng-model="section7Ctrl.reportedAlarms"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>