<div class="container" id="section7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">PBs</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.1</strong> Did your guardian know you were travelling to India?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section7Ctrl.sect1Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-1" ng-model="section7Ctrl.vif.question1" ng-value="option.value">{{ option.name }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.2</strong> Did your family/guardian pressure you in any way to
                        accept the broker's offer?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section7Ctrl.sect2Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-2" ng-model="section7Ctrl.vif.question2" ng-value="option.value" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.3</strong> If they attempted to send you abroad, do you think
                        they will try to send you overseas again?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section7Ctrl.sect3Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-3" ng-model="section7Ctrl.vif.question3" ng-value="option.value" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.4</strong> Do you feel safe at home with your guardian?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section7Ctrl.sect4Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-4" ng-model="section7Ctrl.vif.question4" ng-value="option.value" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.5</strong> Do you want to go home?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section7Ctrl.sect5Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-5" ng-model="section7Ctrl.vif.question5" ng-value="option.value" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.6</strong> Is victim subject to any of the following by someone
                        in her home?</h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Sexual Abuse</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4" ng-repeat="option in section7Ctrl.sect6SexualAssault">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-1" ng-model="section7Ctrl.vif.sexualAbuse[option.value]" ng-value="true" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                        <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Physical Abuse</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4" ng-repeat="option in section7Ctrl.sect6PhysicalAbuse">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-2" ng-model="section7Ctrl.vif.physicalAbuse[option.value]" ng-value="true" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                        <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Emotional Abuse</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4" ng-repeat="option in section7Ctrl.sect6EmotionalAbuse">
                                <div class="radio">
                                    <label><input type="radio" name="sect7-6-3" ng-model="section7Ctrl.vif.emotionalAbuse[option.value]" ng-value="true" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                        <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.7</strong> Does guardian drink alcohol?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4" ng-repeat="option in section7Ctrl.sect7Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-7" ng-model="section7Ctrl.vif.alcohol[option.value]" ng-value="true" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.8</strong> Does guardian use drugs?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4" ng-repeat="option in section7Ctrl.sect8Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-8" ng-model="section7Ctrl.vif.drugs[option.value]" ng-value="true" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.9</strong> Economic Situation of Family</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4" ng-repeat="option in section7Ctrl.sect9Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-9" ng-model="section7Ctrl.vif.economic[option.value]" ng-value="true" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>7.10</strong> Did she express any suicidal thoughts at any point?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section7Ctrl.sect10Options">
                        <div class="radio">
                            <label><input type="radio" name="sect7-10" ng-model="section7Ctrl.vif.question10" ng-value="option.value" ng-click="section7Ctrl.calculateAlarms(option.alarm[0], option.alarm[1])">{{ option.name }}
                                <span ng-show="option.alarm[1]>0"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ option.alarm[1] }} </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success" ng-show="section7Ctrl.shouldSendHome()">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Home Situational Alarms</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 alarms">
                        <p>Calculated Alarms: {{ section7Ctrl.calculatedAlarms }}</p>
                    </div>
                    <div class="col-md-6 alarms">
                        <p>Reported Alarms: <input type="number" class="form-control reported-alarms" ng-model="section7Ctrl.reportedAlarms"></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger" ng-show="!section7Ctrl.shouldSendHome()">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Home Situational Alarms</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 alarms">
                        <p>Calculated Alarms: {{ section7Ctrl.calculatedAlarms }}</p>
                    </div>
                    <div class="col-md-6 alarms">
                        <p>Reported Alarms: <input type="number" class="form-control reported-alarms" ng-model="section7Ctrl.reportedAlarms"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>